<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Weather</title>
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
    <style>
        body {
            background: linear-gradient(180deg,  #2575fc,#6a11cb);

            height: 100vh;
            font-family: Arial, sans-serif;
            color: white;
            text-align: center;
        }

        .weather-container {
            display: inline-block;
            margin-top: 100px;
            max-width: 300px;
            border-radius: 10px;
            padding: 15px;
            background-color: #1448a1;

            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }



    </style>
</head>
<body>
    <div class="weather-container">
        <h1>Current Weather</h1>
        <p><img class="weather-icon" src="http://openweathermap.org/img/wn/<%= CWeather.weather[0].icon %>@2x.png" alt="Weather Icon"></p>
        <h2><%= CWeather.weather[0].main%></h2>

            
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-thermometer-half" viewBox="0 0 16 16">
                <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415"/>
                <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1" alt="Temperature"/>
                </svg> <%= CWeather.main.temp%>°C</p>

                <div class="inlineD"></div>
            <p>  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z" alt="Humidity"/>
              </svg> <%= CWeather.main.humidity%>%</p>

            
             <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wind" viewBox="0 0 16 16">
                <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5m-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2M0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5"/>
              </svg> <%= CWeather.wind.speed%> m/s
            </p>
            </div>
    </div>
</body>
</html>
