<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast</title>
</head>
<body>
    <h1>5-day forecast:</h1>
    <% if(forecast && forecast.length){ %>
    <% forecast.forEach(day =>{ %>
    <div>
        <h2> <%=day.rooz%> </h2>
        <p> Day Temperature: <%=day.dayTemp%>°C </p>
        <p> Day description: <%= day.dayDes%> </p>
        <p> Night Temperature: <%= day.nightTemp%>°C </p>
        <p>Night Description: <%= day.nightDes%> </p>
    </div>
   <% })} %>

</body>
</html>

